<h1> HII PEOPLE :) </h1>
<style type="text/css">

    body {
      background-image:url('http://www.imageupload.co.uk/images/2015/02/21/3.jpg');
       background-repeat: repeat;
       	background-color: yellow;
       background-size: 100% 100%;
    
    }

</style>
<%= link_to 'My Blog', controller: 'articles' %>
