<<<<<<< HEAD
<h1>Editing article</h1>

<style type="text/css">

    body {
      background-image:url('http://i58.tinypic.com/nn2mfl.jpg');
       background-size: 100% 100%;
    
    }

</style>
 
=======
<h1>Editing post</h1>
>>>>>>> b5607f64c8f3f3630066a4f5a09c5d49069c7e97
<%= render 'form' %>
 


<%= link_to 'Back', articles_path %>