<h1>Editing article</h1>

<style type="text/css">

    body {
      background-image:url('http://www.imageupload.co.uk/images/2015/02/21/22.jpg');
       background-size: 100% 100%;
    
    }

</style>
 
<%= render 'form' %>
 


<%= link_to 'Back', articles_path %>